.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2%;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--white);
    background-color: var(--darkRed);
}
.noOfUsers{
    padding: 5%;
}