.linux{
    color: var(--white);
}
.bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.icons{
    margin-left: 2%;
    text-align: center;
}
.icon{
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .linux::after{
        text-align: center;
        font-weight: 800;
        color: white;
        content: "Please use Desktop or Big screen to have a good experience of this simulator";
    }
  }