.nav_body{
    width: 100%;
    display: flex;
    align-items: auto;
    justify-content: space-between;
    background-color: var(--darkRed);
}
.left{  
    margin-left: 10px;
    margin-top: 8px;
    cursor: pointer;
}
.right{
    display: flex;
    justify-content: space-between;
}
.about{
    padding-right: 40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-decoration: var(--black);
    font-weight: bold;
    align-self: center;
    transition: all .2s ease-in-out;
}

.about:hover{
    color: var(--black);
    transform: scale(1.1);
}
.button{
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 45px;
    border: none;
    margin: 20px;
    background-color: var(--darkRedBtn);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: var(--shadowBtn);
    transition: all 0.3s ease;
    cursor: pointer;
}
.button:hover{
    background: var(--darkRed);
    transform: translateY(-7px);
    color: rgb(0, 0, 0);
    box-shadow: var(--shadowBtnHover);
}