.dashboard{
    padding-top: 3%;
    background-color: #f6f6f6;
}
.title{
    text-align: center;
}
.options{
    display: flex;
    justify-content: space-around;
}
.windows, .linux, .mac{
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 300px;
    height: fit-content;
    margin: 5%;
}

.windows>.content{
    height: calc(fit-content + '2000px');
}
.content{
    margin: 10%;
    padding: 5%;
    font-size: 2rem;
}
.span{
    line-height: 1;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #e74c3c;
}
.btn{
    font-size: 1.5rem;
    width: 100%;
    border-radius: 20px;
    padding: 5%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #000000;
    transition: 1s;
}
.btn:hover{
    background-color: #e74c3c;
}
