.dashboard{
    padding-top: 3%;
    background-color: var(--lightBackground);
}
.title{
    text-align: center;
}
.options{
    display: flex;
    justify-content: space-around;
}
.windows, .linux, .mac{
    width: fit-content;
    height: fit-content;
    margin: 5%;
    border-radius: 20px;
    text-align: center;
    box-shadow:var(--shadow);
}

.content{
    margin: 10%;
    padding: 5%;
    font-size: 2rem;
}
.span{
    line-height: 1;
    font-size: 2.5rem;
    color: var(--darkRed);
    font-weight: bolder;
}
.btn{
    font-size: 1.5rem;
    width: 100%;
    border-radius: 20px;
    padding: 5%;
    border: none;
    color: white;
    background-color: #000000;
    cursor: pointer;
    transition: 1s;
}
.btn:hover{
    background-color: var(--darkRed);
}


@media only screen and (max-width: 600px) {
    .options{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
  }